<div class="p-3 rounded-lg">
  <h2 class="text-3xl font-bold mb-8 text-center">Follow Us</h2>
  <div class="grid md:grid-cols-3 grid-cols-2 md:w-fit md:mx-auto">
    <!-- LinkedIn -->
    <ion-card href="https://linkedin.com/company/mfacubes" target="_blank" rel="noopener noreferrer"
      class="flex flex-col items-center text-center p-4 bg-white border shadow-lg rounded-lg">
      <img src="assets/icon/linkedin.png" alt="LinkedIn" class="w-12 h-12 mb-2 mx-auto">
      <span class="text-gray-800 font-bold">LinkedIn</span>
    </ion-card>

    <!-- Twitter -->
    <ion-card href="https://twitter.com/mfacubes" target="_blank" rel="noopener noreferrer"
      class="flex flex-col items-center text-center p-4 bg-white border shadow-lg rounded-lg">
      <img src="assets/icon/twitter.png" alt="Twitter" class="w-12 h-12 mb-2 mx-auto">
      <span class="text-gray-800 font-bold">X.com</span>
    </ion-card>


    <!-- Instagram -->
    <ion-card href="https://instagram.com/mfacubes" target="_blank" rel="noopener noreferrer"
      class="flex flex-col items-center text-center p-4 bg-white border shadow-lg rounded-lg">
      <img src="assets/icon/instagram.png" alt="Instagram" class="w-12 h-12 mb-2 mx-auto">
      <span class="text-gray-800 font-bold">Instagram</span>
    </ion-card>
  </div>

</div>