<h2 class="text-3xl font-bold mb-4">Follow Us</h2>
<ul class="list-none">
  <li class="mb-2">
    <a href="https://twitter.com/mfacubes" class="text-blue-500 hover:underline">Twitter</a>
  </li>
  <li class="mb-2">
    <a href="https://facebook.com/mfacubes" class="text-blue-700 hover:underline">Facebook</a>
  </li>
  <li class="mb-2">
    <a href="https://linkedin.com/company/mfacubes" class="text-blue-500 hover:underline">LinkedIn</a>
  </li>
  <li class="mb-2">
    <a href="https://instagram.com/mfacubes" class="text-pink-500 hover:underline">Instagram</a>
  </li>
</ul>
