.menu-open{
  animation: openMenu .5s ease-in forwards;
}

.menu-close{
  animation: closeMenu .5s ease-in forwards;
}


@keyframes openMenu{
  from{
    height: 0;
  }
  to{
    height: 300px;
  }
}

@keyframes closeMenu{
  from{
    height: 300px;
  }
  to{
    height: 0;
  }
}