<ion-header>
  <ion-toolbar class="bg-gray-800 text-white">
    <ion-title>MFA Cubes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="w-full bg-gray-800 text-white p-4">
    <nav class="flex justify-around">
      <a href="#profiles" class="hover:text-yellow-500">Profiles</a>
      <a href="#services" class="hover:text-yellow-500">Services</a>
      <a href="#contact" class="hover:text-yellow-500">Contact</a>
      <a href="#social" class="hover:text-yellow-500">Social Media</a>
    </nav>
  </div>
  
  <section id="services" class="bg-gray-100 p-8">
    <app-services></app-services>
  </section>
  
  <section id="profiles" class="p-8">
    <app-developer-profiles></app-developer-profiles>
  </section>

  

  <section id="contact" class="p-8">
    <app-contact-details></app-contact-details>
  </section>

  <section id="social" class="bg-gray-100 p-8">
    <app-social-media-links></app-social-media-links>
  </section>
</ion-content>